@{
    ViewBag.Title = "ConnectError";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@using (Html.BeginForm("Index", "Home"))
{
    <input type="submit" value="Back" />
}