@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Inventory", "Home"))
{
    <label for="username">Username:</label>
    <input type="text" name="username" required />
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" required />
    <br />
    <label for="server">Server:</label>
    <input type="text" name="server" />
    <br />
    <label for="warehouse">Warehouse:</label>
    <input type="text" name="warehouse" />
    <br />
    <label for="productcode">ProductCode:</label>
    <input type="text" name="productcode" />
    <br />
    <br />
    <input type="submit" value="Submit" />
}
